/* Editor section */
.snippet-page {
    padding-top:calc(4rem + 40px);
    /* height: calc(100vh - 2rem - 40px)!important; */
}

.snippet-page .output-section {
    max-width: 800px;
    margin: 1rem auto;
    width:100%;
    box-sizing: border-box;
}